<table class="table table-hover" *ngIf="state">
    <thead class="thead">
        <tr align="center">
            <th scope="col">#ID</th>
            <th scope="col">Code</th>
            <th scope="col">City</th>
            <th scope="col">Etage</th>
            <th scope="col">Pieces</th>
            <th scope="col">SDB</th>
            <th scope="col">Price</th>
            <th scope="col">Par/Chambre</th>
            <th scope="col">garage</th>
            <th>Actions</th>
        </tr>
    </thead>
   <tbody>
    <tr align="center" *ngFor="let h of state.houses | paginate: { itemsPerPage: 5, currentPage: page, totalItems: totalRecord }">
        <td>{{h.id}}</td>
        <td>{{h.code}}</td>
        <td>{{h.city}}</td>
        <td>{{h.nb_etage}}</td>
        <td>{{h.nb_pieces}}</td>
        <td>{{h.nb_sdb}}</td>
        <td>{{h.price_location}}</td>
        <td>
            <button *ngIf="h.rent_per_room"  class="btn btn-sm btn btn-success">
                 <span class="badge badge-success">Yes</span>
            </button>
            <button *ngIf="!h.rent_per_room" class="btn btn-sm btn btn-danger">
                <span class="badge badge-danger">No</span>
           </button>
         </td>
        <td>
           <button class="btn btn-sm btn btn-success">
                <span *ngIf="h.garage" class="badge badge-success">Yes</span>
                <span *ngIf="!h.garage" class="badge badge-info">No</span>
           </button>
        </td>
        <td>
            <button class="btn btn-sm btn-danger myspace" (click)="onDelete(h)">
                <i class="fa fa-trash"></i>
            </button>
            <button class="btn btn-sm btn-primary myspace">
                <i class="fa fa-pencil"></i>
            </button>
        </td>
    </tr>
   </tbody>
</table>
<div class="row">
    <div class="col-xs-12 col-12">
        <pagination-controls (pageChange)="page = $event"></pagination-controls>
    </div>
</div>
