<div class="card-body">
    <div class="table-responsive">
        <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
            <thead>
                <tr align="center">
                    <th>Localisation</th>
                    <th>Nbr Chambre</th>
                    <th>Style</th>
                    <th>Nbr SDB</th>
                    <th>Cuisine</th>
                    <th>WVC</th>
                    <th>action</th>
                </tr>
            </thead>
            <tbody>

            </tbody>
        </table>
    </div>
</div>