<nav class="navbar navbar-expand-sm bg-light navbar-light mymargin">
    <ul class="navbar navbar-nav">
      <li class="">
        <button class="btn btn-outline-info mymargin" (click)="onGetAllHouse()">all</button>
      </li>
      <li class="">
       <button  class="btn btn-outline-info mymargin" (click)="onAvalaible()">Avalaible</button>
     </li>
     <!-- <li class="">
       <button class="btn btn-outline-info mymargin" (click)="onUnAvalaible()">Unavalaible</button>
     </li> -->
    </ul>
    <ul class="navbar navbar-nav btnFormSeach">
     <li>
       <form   >
         <div class="input-group">
           <div class="form-outline">
             <input type="search" id="form1" class="form-control" />
           </div>
           <button type="button" class="btn btn-outline-info mlBtn">
             <i class="fa fa-search"></i>
           </button>
         </div>
       </form>
      
     </li>
    </ul>
   </nav>