/* You can add global styles to this file, and also import other style files */
@import "~font-awesome/css/font-awesome.min.css";
.myspace {
    margin-left: 5px;
}
.myComponent{
    width: 800px;
    margin: 0 auto;
}